body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 20rem;
  }

.foo {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

header{
    margin-bottom:1rem;
    margin-top: 1rem;
}

.selectB{
    flex: 0 1 30%
}